
.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    padding-left: 15px;
    background-color: #1F2937;
    color: #f9faf8;

}
.nav-links {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    width: 100%;
    padding-right: 200px;
}
html {
    font-family: Roboto;
    s
}
.container {
    display: flex;
    flex-direction: column;
}

body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', arial;
}

.hero-section {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 90px;
    background-color: #1F2937;
    color: #f9faf8;
    padding-left: 150px;

}
.button1 {
    width: 75px;
    border-radius: 5px;
    background-color: #3882f6;
    color: #f9faf8;
}
.hero-section h1{
    font-size: 48px;
}
.hero-section p{
    font-size: 18px;
    color: #e5e7eb
}
.logo {
    width: 150px;
    height: auto;
    padding-left:140px;
}